/* GENERAL */

*,
::before,
::after {
  box-sizing: border-box;
  max-height: 999999px;
}

html {
  background-color: #eee;
  color: rgba(0,0,0,.8);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.17em;
  line-height: 1.33;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

main {
  padding-top: 4.6em;
}

/* UTILITY CLASSES */

.container {
  margin: 0 auto;
}

.centralize {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.circle-icon-button {
  color: transparent;
  background-position: .66em 50%,50% 100%;
  background-repeat: no-repeat;
  background-size: 1.2em;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  height: 2.6em;
  width: 2.6em;
}

.grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* LOADER */

.loader {
  height: 100vh;
}

/* HEADER */

.header-row {
  background-color: #efebe9;
  -webkit-box-shadow: 0 2px 16px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.2);
  left: 0;
  padding: 1em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header {
  height: 2.6em;
  padding: 0 .5rem;
}

/* BOOKSHELVES PAGE HEADER */

.bookshelves-page-title {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: .5em;
  margin: 0 .5rem;
  padding-left: .5em;
}

.bookshelves-page-title span {
  color: #c62828;
}

/* SEARCH PAGE HEADER */

.back-link {
  background-color: rgba(238,238,238,.8);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 5"><path d="M5 2.188H1.197L2.944.44 2.5 0 0 2.5 2.5 5l.44-.44-1.743-1.747H5z" fill="rgba(0,0,0,.8)"/></svg>');
  border: 1px solid rgba(189,189,189,.8);
  margin: 0 .5em;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.back-link:hover,
.back-link:focus {
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: 0 0 0 4px rgba(33,150,243,.8);
  box-shadow: 0 0 0 4px rgba(33,150,243,.8);
}

.search {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(238,238,238,.8);
  color: rgba(0,0,0,.8);
  border: 1px solid rgba(189,189,189,.8);
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  height: 2.6em;
  margin: 0 .5em;
  padding: 1em 0 1em .6em;
  text-align: center;
  width: 5em;
}

.search:hover,
.search:focus {
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: 0 0 0 4px rgba(33,150,243,.8);
  box-shadow: 0 0 0 4px rgba(33,150,243,.8);
}

/* ADD NEW BOOK BUTTON */

.add-link {
  background-color: #d7ccc8;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 5"><path d="M5 2.857H2.857V5h-.714V2.857H0v-.714h2.143V0h.714v2.143H5z" fill="rgba(0,0,0,.8)"/></svg>');
  border-color: rgba(189,189,189,.8);
  bottom: 1rem;
  -webkit-box-shadow: 2px 6px 8px 0 rgba(0,0,0,.3);
  box-shadow: 2px 6px 8px 0 rgba(0,0,0,.3);
  overflow: hidden;
  position: fixed;
  right: 1rem;
}

.add-link:hover,
.add-link:focus {
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: 0 0 0 4px rgba(33,150,243,.8);
  box-shadow: 0 0 0 4px rgba(33,150,243,.8);
}

/* BOOKSHELF */

.bookshelf {
  min-height: calc(100vh - 4.6em);
  padding: 2em 1em;
}

.bookshelf:nth-child(odd) {
  background-color: #f5f5f5;
}

.bookshelf-header {
  margin: 0 1em;
  padding: 2em 0;
  text-align: center;
}

.bookshelf-title {
  background-color: #424242;
  color: #fff;
  display: inline-block;
  font-size: 1.17em;
  font-weight: 400;
  letter-spacing: .1em;
  margin: 0;
  padding-left: .1em;
  padding-right: .5em;
  position: relative;
  text-indent: .5em;
  text-transform: uppercase;
}

.bookshelf-title::after,
.bookshelf-title::before {
  border-style: solid;
  content: '';
  height: 0;
  position: absolute;
  width: 0;
}

.bookshelf-title::after {
  border-color: transparent transparent #212121 transparent;
  border-width: 0 2rem 1rem 0;
  right: 0;
  top: -.99rem;
}

.bookshelf-title::before {
  border-color: #212121 transparent transparent transparent;
  border-width: 1rem 0 0 2rem;
  bottom: -.99rem;
  left: 0;
}

.books-grid {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

/* BOOK CARD */

.book-card {
  background-color: #d7ccc8;
  border-radius: 8px;
  flex: 1 1 15em;
  margin: 2em 1em;
  max-width: 23em;
  text-align: center;
}

.book {
  height: 9em;
  line-height: 0;
  margin: -1em .3em 1em 1em;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.book-cover {
  height: 100%;
  width: auto;
  -webkit-transform: rotate3d(0, -1, 0, 30deg) translateX(-.55em);
  transform: rotate3d(0, -1, 0, 30deg) translateX(-.55em);
}

.book::before {
  -webkit-box-shadow: 2px 6px 12px 0 rgba(0,0,0,.7);
  box-shadow: 2px 6px 12px rgba(0,0,0,.7);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transform: rotate3d(0, -1, 0, 30deg) translate3d(-.95em, -.03em, -1.9em);
  transform: rotate3d(0, -1, 0, 30deg) translate3d(-.95em, -.03em, -1.9em);
  width: 100%;
}

.book::after {
  background-color: #e0e0e0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, #bdbdbd), color-stop(33%, #e0e0e0));
  background-image: -o-linear-gradient(left, #bdbdbd 33%, #e0e0e0 33%);
  background-image: linear-gradient(to right, #bdbdbd 33%, #e0e0e0 33%);
  background-size: .3em;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  right: -.5em;
  width: 2.03em;
  top: -.025em;
  transform: rotate3d(0, 1, 0, 70deg);
}

.book-details {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1em;
}

.book-authors {
  font-size: .83em;
  margin: 0;
}

.book-title {
  font-size: .83em;
  margin: 0 0 .5em 0;
  min-width: 7em;
}

.book-shelf-changer {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #c62828;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 5"><path fill="rgba(255,255,255,.9)" d="M2.5 0a.749.749 0 100 1.5.749.749 0 100-1.5zM0 1.362v2.75c.87 0 1.66.34 2.25.888V2.25A3.288 3.288 0 000 1.362zm5 0c-.87 0-1.66.338-2.25.888V5A3.3 3.3 0 015 4.112z"/></svg>');
  border-color: #c62828;
  -webkit-box-shadow: 2px 6px 8px 0 rgba(0,0,0,.3);
  box-shadow: 2px 6px 8px 0 rgba(0,0,0,.3);
  bottom: -1.3em;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  position: absolute;
  right: -1.3em;
  z-index: 1;
}

/* Remove select element arrow in IE 10+ */
.book-shelf-changer::-ms-expand {
  display: none;
}

.book-shelf-changer:focus {
  outline: none;
}

.book-shelf-changer:hover,
.book-shelf-changer:focus {
  background-color: #e53935;
  border-color: #e53935;
  -webkit-box-shadow: 0 0 0 4px rgba(244,67,54,.8);
  box-shadow: 0 0 0 4px rgba(244,67,54,.8);
}

option {
  color: rgba(0,0,0,.8);
  background-color: #eee;
}

option:disabled {
  color: rgba(0,0,0,.54);
}

/*
 * MEDIA QUERIES
*/

@media (min-width: 425px) {
  html {
    font-size: 1.33em;
  }
}

@media (min-width: 568px) {
  .bookshelves-page-title {
    letter-spacing: 1em;
    padding-left: 1em;
  }

  .bookshelf-title {
    letter-spacing: .3em;
    padding-left: .3em;
  }

  .book-title {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  .bookshelf-title {
    letter-spacing: .5em;
    padding-left: .5em;
  }
}

@media (min-width: 1024px) {
  .bookshelf {
    padding: 2em 3.6em 2em;
  }

  .bookshelf-title {
    font-size: 1.33em;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 1.5em;
  }

  .container {
    max-width: 1440px;
  }
}

/*
 * ANIMATIONS
*/

/* @-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} */