*,
::before,
::after {
  box-sizing: border-box;
  max-height: 999999px;
}

html {
  color: rgba(0,0,0,.8);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.17em;
  line-height: 1.33;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

main {
  padding-top: 3.6em;
}

.container {
  margin: 0 auto;
}

/* Header */

.header-row {
  background-color: #c62828;
  -webkit-box-shadow: 0 2px 16px 0 rgba(0,0,0,.2);
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.2);
  left: 0;
  padding: .5em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header {
  align-items: center;
  display: flex;
  height: 2.6em;
  padding: 0 .5rem;
}

/* Bookshelves Page Header */

.bookshelves-page-title {
  color: rgba(255,255,255,.5);
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: .5em;
  margin: 0 .5rem;
  text-align: center;
}

.bookshelves-page-title span {
  color: rgba(255,255,255,.9);
  font-weight: 400;
}

/* Search Page Header */

.back-link {
  color: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 5"><path d="M5 2.188H1.197L2.944.44 2.5 0 0 2.5 2.5 5l.44-.44-1.743-1.747H5z" fill="rgba(255,255,255,.9)"/></svg>');
  background-position: .7em 50%,50% 100%;
  background-repeat: no-repeat;
  background-size: 1.2em;
  border-radius: 50%;
  display: inline-block;
  height: 2.6em;
  margin: 0 1em;
  overflow: hidden;
  width: 2.6em;
}

.back-link:hover,
.back-link:focus {
  background-color: rgba(255,255,255,.1);
  -webkit-box-shadow: 0 0 0 4px rgba(255,255,255,.5);
  box-shadow: 0 0 0 4px rgba(255,255,255,.5);
}




.bookshelf {
  background-color: #fafaff;
  padding: 0 2.6em;
}

.bookshelf-header {
  padding-bottom: 1em;
  text-align: center;
}

.bookshelf-title {
  font-size: 1.17em;
  font-weight: 400;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.books-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.book-card {
  background-color: #fff;
  border-radius: 16px;
  display: inline-block;
  flex: 1 1 8em;
  margin: 1em;
  text-align: center;
}

.book {
  display: inline-block;
  height: 9em;
  line-height: 0;
  margin: 0 1em;
  position: relative;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translateY(-1em);
  -ms-transform: translateY(-1em);
  transform: translateY(-1em);
}

.book-cover {
  height: 100%;
  width: auto;
  -webkit-transform: rotate3d(0, -1, 0, 30deg) translateX(-.55em);
  transform: rotate3d(0, -1, 0, 30deg) translateX(-.55em);
}

.book::before {
  -webkit-box-shadow: 2px 6px 12px 0 rgba(0,0,0,.7);
  box-shadow: 2px 6px 12px rgba(0,0,0,.7);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transform: rotate3d(0, -1, 0, 30deg) translate3d(-.95em, -.03em, -1.9em);
  transform: rotate3d(0, -1, 0, 30deg) translate3d(-.95em, -.03em, -1.9em);
  width: 100%;
}

.book::after {
  background-color: #e0e0e0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(33%, #bdbdbd), color-stop(33%, #e0e0e0));
  background-image: -o-linear-gradient(left, #bdbdbd 33%, #e0e0e0 33%);
  background-image: linear-gradient(to right, #bdbdbd 33%, #e0e0e0 33%);
  background-size: .3em;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  right: -.5em;
  width: 2.03em;
  top: -.025em;
  transform: rotate3d(0, 1, 0, 70deg);
}

.book-details {
  background-color: #eef;
  border-radius: 0 0 16px 16px;
  padding: 1em;
}

.book-authors {
  font-size: .83em;
  margin-top: 0;
  margin-bottom: .5em;
}

.book-title {
  margin: 0;
  font-size: .83em;
}

.book-shelf-changer {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #c62828;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 5"><path fill="rgb(255,255,255)" d="M2.5 0a.749.749 0 100 1.5.749.749 0 100-1.5zM0 1.362v2.75c.87 0 1.66.34 2.25.888V2.25A3.288 3.288 0 000 1.362zm5 0c-.87 0-1.66.338-2.25.888V5A3.3 3.3 0 015 4.112z"/></svg>');
  background-position: .7em 50%,50% 100%;
  background-repeat: no-repeat;
  background-size: 1.2em;
  border: 1px solid #c62828;
  border-radius: 50%;
  -webkit-box-shadow: 2px 6px 8px 0 rgba(0,0,0,.4);
  box-shadow: 2px 6px 8px 0 rgba(0,0,0,.4);
  bottom: -1.3em;
  color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  height: 2.6em;
  position: absolute;
  right: -1.3em;
  width: 2.6em;
  z-index: 1;
}

/* Remove select element arrow in IE 10+ */
.book-shelf-changer::-ms-expand {
  display: none;
}

.book-shelf-changer:focus {
  outline: none;
}

.book-shelf-changer:hover,
.book-shelf-changer:focus {
  background-color: #e53935;
  border-color: #e53935;
  -webkit-box-shadow: 0 0 0 4px rgba(244,67,54,.8);
  box-shadow: 0 0 0 4px rgba(244,67,54,.8);
}

option {
  color: rgba(0,0,0,.8);
  background-color: #eef;
}

option:disabled {
  color: rgba(0,0,0,.54);
}

/*
 * MEDIA QUERIES
*/

@media (min-width: 425px) {
  html {
    font-size: 1.33em;
  }

  .bookshelf-title {
    letter-spacing: .3em;
  }
}

@media (min-width: 568px) {
  .bookshelves-page-title {
    letter-spacing: 1em;
  }

  .bookshelf-title {
    letter-spacing: .5em;
  }
}

@media (min-width: 768px) {
  .bookshelves-page-title {
    letter-spacing: 1em;
  }

  .bookshelf-title {
    font-size: 1.33em;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 1.5em;
  }

  .container {
    max-width: 1440px;
  }
}

/*
 * ANIMATIONS
*/

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}